/* Font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --slate-900: #1F314F;
  --slate-500: #68778D;
  --slate-300: #D5E1EF;
}

* {
  box-sizing: border-box;
}

h1,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  background-color: var(--slate-300);
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qr-card {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.qr-card__image {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 10px;
  object-fit: cover;
}

.qr-card__content {
  margin-top: 24px;
  padding: 0 16px;
}

.qr-card__title {
  text-align: center;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
  color: var(--slate-900);
}

.qr-card__description {
  margin-top: 16px;
  text-align: center;
  font-size: 15px;
  line-height: 1.4;
  font-weight: 400;
  padding-bottom: 24px;
  color: var(--slate-500);
}